# ====================
# 📦 Python / Backend
# ====================
__pycache__/
*.py[cod]
*.pkl
*.sqlite3
*.env
.env/
venv/

# ====================
# 🧪 Logs
# ====================
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# ====================
# 🧠 VSCode / Editor
# ====================
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ====================
# 🍏 Mac OS
# ====================
.DS_Store

# ====================
# 🧑‍💻 Node.js / Frontend
# ====================
node_modules/
dist/
dist-ssr/
*.local

# ====================
# ⚙️ Next.js (今は未使用だけど念のため)
# ====================
.next/
out/
